@media screen and (max-width: 1292px) {
  .container {
    max-width: 1150px;
  }

  .card {
    width: 350px;
  }
}

@media screen and (max-width: 1161px) {
  .container {
    max-width: 900px;
  }
  .card {
    width: 550px;
  }
}

@media screen and (max-width: 1010px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    max-width: 500px;
  }

  .discover {
    margin-bottom: 20px;
  }
}
